@font-face {
  font-family: 'Montserrat';
  src: url(../../assets/fonts/montserrat/Montserrat-Light.woff) format('woff'),
  url(../../assets/fonts/montserrat/Montserrat-Light.ttf) format('ttf'),
  url(../../assets/fonts/montserrat/Montserrat-Light.otf) format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../../assets/fonts/montserrat/Montserrat-Regular.woff) format('woff'),
  url(../../assets/fonts/montserrat/Montserrat-Regular.ttf) format('ttf'),
  url(../../assets/fonts/montserrat/Montserrat-Regular.otf) format('otf');
  font-weight: 400;
  font-style: normal;
}
